@import url("./side-bar.css");
@import url("./mobile-navbar.css");
@import url("./footer.css");
@import url("./utils.css");

/* - Search Button - */
.search-btn {
    width: 70px;
    height: 70px;
    font-size: 28px;
    position: fixed;
    top: -10px;
    right: -10px;
    z-index: 999;
    box-shadow: 0px 0px 0px 14px rgba(51, 51, 51, 0.3);
    transition-duration: var(--transition-duration);
}

.search-btn:hover {
    box-shadow: 0px 0px 0px 8px rgba(51, 51, 51, 0.6) !important;
}

.search-btn.modal-is-open {
    z-index: -1;
}

.search-modal-content {
    position: fixed;
    transform: translateZ(0);
    left: 0;
    height: 300px;
    z-index: 777;
    transition-duration: var(--transition-duration);
    content-visibility: visible;
}

.search-modal-content .close-btn i {
    font-size: 24px;
}

.search-modal-content form {
    width: 60%;
}

.search-modal-content input {
    font-size: 16px;
}

.search-modal-content.closed {
    position: fixed;
    overflow: hidden;
    content-visibility: hidden;
    width: 70px !important;
    height: 70px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    top: -10px;
    left: calc(100% - 60px) !important;
}

/* - Content - */
.content {
    height: 100vh;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .content {
        height: auto;
    }
}

/* - Nav Links - */
.breadcrumb-wrapper {
    padding-top: 112px;
}

.breadcrumb-item {
    font-size: 22px;
}

.breadcrumb-item a {
    color: var(--bs-gray);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--purple);
}

/* - Page Title - */
.page-title {
    font-size: 48px;
    color: var(--gray);
}

/* - Products - */
.products .card {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.products .card .card-title {
    font-size: 20px;
}

.products .card .card-subtitle {
    font-size: 18px;
}

.products .card .card-text {
    font-size: 15px;
}

/* - Show More Button - */
.show-more-btn {
    background: var(--purple);
    border-radius: 0;
}

.show-more-btn:hover {
    background: var(--purple-hover);
}
