@import url("./side-bar.css");
@import url("./mobile-navbar.css");
@import url("./footer.css");
@import url("./utils.css");

.section-title {
    border-bottom: 2px solid var(--bs-info);
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 500;
}

/* - Content - */
.content {
    height: 100vh;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .content {
        height: auto;
    }
}

/* - Search Button - */
.search-btn {
    width: 70px;
    height: 70px;
    font-size: 28px;
    position: fixed;
    top: -10px;
    right: -10px;
    z-index: 999;
    box-shadow: 0px 0px 0px 14px rgba(51, 51, 51, 0.3);
    transition-duration: var(--transition-duration);
}

.search-btn:hover {
    box-shadow: 0px 0px 0px 8px rgba(51, 51, 51, 0.6) !important;
}

.search-btn.modal-is-open {
    z-index: -1;
}

.search-modal-content {
    position: fixed;
    transform: translateZ(0);
    left: 0;
    height: 300px;
    z-index: 777;
    transition-duration: var(--transition-duration);
    content-visibility: visible;
}

.search-modal-content .close-btn i {
    font-size: 24px;
}

.search-modal-content form {
    width: 60%;
}

.search-modal-content input {
    font-size: 16px;
}

.search-modal-content.closed {
    position: fixed;
    overflow: hidden;
    content-visibility: hidden;
    width: 70px !important;
    height: 70px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    top: -10px;
    left: calc(100% - 60px) !important;
}

/* - Main Slider - */
.main-slider {
    margin-bottom: 10px;
}

.main-slider .slide {
    height: 400px;
}

.main-slider .slide img {
    object-fit: cover;
}

.main-slider .slide .preview {
    left: 100px;
}
.main-slider .slide .preview p {
    font-weight: 500;
    font-size: 38px;
}

.main-slider .slide .preview button {
    padding-left: 24px;
    padding-right: 24px;
}

/* - Publications - */
.publications .publication {
    height: 300px;
}

.publications .publication img {
    object-fit: cover;
}

.publications .publication .label {
    background-color: rgba(21, 44, 93, 0.3);
    transition-duration: var(--transition-duration);
    padding: 22px;
}

.publications .publication .label:hover {
    background-color: rgba(21, 44, 93, 0.5);
}

.publications .publication .label h3 {
    font-weight: 700;
}
