@import url("./side-bar.css");
@import url("./mobile-navbar.css");
@import url("./footer.css");
@import url("./utils.css");

.section-title {
    border-bottom: 2px solid var(--bs-info);
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 500;
}

/* - Main Slider - */
.main-slider {
    margin-bottom: 10px;
}

.main-slider .slide {
    height: 400px;
}

.main-slider .slide img {
    object-fit: cover;
}

.main-slider .slide .preview {
    left: 100px;
}
.main-slider .slide .preview p {
    font-weight: 500;
    font-size: 38px;
}

.main-slider .slide .preview button {
    padding-left: 24px;
    padding-right: 24px;
}

/* - Publications - */
.publications .publication {
    height: 300px;
}

.publications .publication img {
    object-fit: cover;
}

.publications .publication .label {
    background-color: rgba(21, 44, 93, 0.3);
    transition-duration: var(--transition-duration);
    padding: 22px;
}

.publications .publication .label:hover {
    background-color: rgba(21, 44, 93, 0.5);
}

.publications .publication .label h3 {
    font-weight: 700;
}
