@import url("./utils.css");

.mobile-navbar .wrapper {
    padding: 0;
}

.mobile-navbar .logo {
    background-color: var(--purple);
    padding: 20px;
    height: 60px;
}

.mobile-navbar .logo img {
    width: 88px;
    height: 25px;
}

.mobile-navbar .cart-link {
    width: 36px;
    height: 36px;
    background-color: var(--purple);
    padding: 0;
    margin-right: 6px;
}

.mobile-navbar .cart-link img {
    width: 18px;
    height: 18px;
}

.mobile-navbar .toggler {
    width: 60px;
    height: 60px;
    padding: 12px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.mobile-navbar .toggler .icon {
    display: block;
    width: 36px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--purple);
    transition: all var(--transition-duration);
}

.mobile-navbar .toggler .top-bar {
    transform: rotate(45deg);
}

.mobile-navbar .toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity = 0);
    margin-top: -4px;
    margin-bottom: -4px;
}

.mobile-navbar .toggler .bottom-bar {
    transform: rotate(-45deg);
}

.mobile-navbar .toggler.collapsed .top-bar {
    transform: rotate(0);
}

.mobile-navbar .toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity = 100);
    margin-top: 10px;
    margin-bottom: 10px;
}

.mobile-navbar .toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.mobile-navbar .product-search {
    margin-left: 20px;
    margin-right: 20px;
}

.mobile-navbar .content {
    background-color: var(--purple);
    position: absolute;
    z-index: 999;
    width: 100%;
}

.mobile-navbar .content h3 {
    color: var(--bs-white);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px;
    margin: 0;
}

.mobile-navbar .content .nav-links {
    padding: 0;
    margin: 0;
}

.mobile-navbar .content .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.mobile-navbar .content .nav-item:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
}

.mobile-navbar .content .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-light);
    padding: 16px 0;
}

.mobile-navbar .content .nav-link:hover {
    color: var(--bs-white);
}
