@import url("./side-bar.css");
@import url("./mobile-navbar.css");
@import url("./footer.css");
@import url("./utils.css");

/* - Search Button - */
.search-btn {
    width: 70px;
    height: 70px;
    font-size: 28px;
    position: fixed;
    top: -10px;
    right: -10px;
    z-index: 999;
    box-shadow: 0px 0px 0px 14px rgba(51, 51, 51, 0.3);
    transition-duration: var(--transition-duration);
}

.search-btn:hover {
    box-shadow: 0px 0px 0px 8px rgba(51, 51, 51, 0.6) !important;
}

.search-btn.modal-is-open {
    z-index: -1;
}

.search-modal-content {
    position: fixed;
    transform: translateZ(0);
    left: 0;
    height: 300px;
    z-index: 777;
    transition-duration: var(--transition-duration);
    content-visibility: visible;
}

.search-modal-content .close-btn i {
    font-size: 24px;
}

.search-modal-content form {
    width: 60%;
}

.search-modal-content input {
    font-size: 16px;
}

.search-modal-content.closed {
    position: fixed;
    overflow: hidden;
    content-visibility: hidden;
    width: 70px !important;
    height: 70px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    top: -10px;
    left: calc(100% - 60px) !important;
}

/* - Content - */
.content {
    height: 100vh;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .content {
        height: auto;
    }
}

/* - Nav Links - */
.breadcrumb-wrapper {
    padding-top: 112px;
}

.breadcrumb-item {
    font-size: 22px;
}

.breadcrumb-item a {
    color: var(--bs-gray);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--purple);
}

/* - Product - */
.product-img {
    height: 256px;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-size: "auto 100%";
}

.certificates h3,
.variants h3 {
    font-size: 20px;
}

.certificates img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.variants .title {
    font-size: 14px;
}

.variants .variant {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 42px;
    cursor: pointer;
    border: 1px solid var(--bg-success);
}

.variants .variant.active {
    border-width: 2px;
}

.price {
    font-size: 28px;
}

.price::after {
    content: "₽";
    display: inline-block;
    padding-left: 14px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .cart-btn,
    .buy-btn {
        width: 100%;
    }
}

/* - Description - */
.description-title {
    font-size: 14px;
}

.description-list li {
    list-style: circle inside;
}

.description-list.usages img {
    width: 70px;
    height: 70px;
}

.information-collapse-btn::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid var(--bg-success);
    border-left: 2px solid var(--bg-success);
    transform: rotate(-45deg);
    position: relative;
    top: -1px;
    left: 2px;
}

.information-collapse-btn.collapsed::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-bottom: none;
    border-left: none;
    border-top: 2px solid var(--bg-success);
    border-right: 2px solid var(--bg-success);
    transform: rotate(-45deg);
    position: relative;
    top: 1px;
}

.information li {
    list-style: circle inside;
}
